.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 20rem;
    padding: 1.3rem;
    min-height: 10em;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 0.1rem solid black;
    border-radius: 2rem;
    margin-left: calc(50% - 10em);
}