.adminPage {
    padding: 2em;
    min-height: 70vh;
    color: white;
}

.header {
}

.editorMenu {
    text-align: left;
    background-color: white;
    color: black;
    padding: 0.5em;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 2em;
}

.editorMenu li {
    list-style: none;
    font-weight: bolder;
    font-size: large;
    padding: 0.5em 2em 0.5em 2em;
}

.editorMenu li:hover {
    background: #3A3B3C;
    filter: drop-shadow(0 0.2rem 0.2rem black);
    border-radius: 0.5em;
    color: white;
}

.editorMenu li:active {
    background: #3A3B3C;
    filter: drop-shadow(0 0rem 0rem black);
    border-radius: 0.5em;
    color: white;
}