.submitInput {
    color: white;
    font-size: large;
    padding: 1em;
    border-radius: 1em;
    background: #242526;
    margin:1em;
    filter: drop-shadow(0 0.5rem 0.5rem black)
}
.addAllergenButton{
    color: white;
    font-size: small;
    padding: 1em;
    border-radius: 1em;
    background: #242526;
    margin:1em;
    filter: drop-shadow(0 0.5rem 0.5rem black)
}
.addAllergenButton:hover{
    background: #3A3B3C;
    filter: drop-shadow(0 0.2rem 0.2rem black);
}
.addAllergenButton:active{
    filter: drop-shadow(0 0rem 0rem black);
}

.deleteAllergenButton{
    padding: 1em;
    margin: 0.5em 0 0;
    font-size: small;
}
.deleteAllergenButton{

}