body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
    width: 100%;
    position: sticky;
    top: 0;
    background: #242526;
}

nav {
    max-width: 130em;
    padding: 0 3em;
    height: 5em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .nav-links {
    display: inline-flex;
}

.footer-nav-bar .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 500;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: #3A3B3C;
}

.content {
    background-color: black;
}

.footer {
    background-color: #242526;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer-nav-bar {
    max-width: 130em;
    display: flex;
}

.contacts {
    display: flex;
    height: 4em;
    margin-right: 5em;
    padding-top: 1em;
    width: fit-content;
}

.mail-phone {
    padding-left: 1em;
}

.sideMenuBar {
    padding: 1em;
    width: 14vw;
    background: #242526;
    color: white;
}

.sideMenuBar p {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 500;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    transition: all 0.3s ease;
}

.sideMenuBar p:hover {
    background: #3A3B3C;
}

.weeklyMenu {
    padding-left: 1em;
}

.weeklyMenuPage {
    display: flex;
    background-image: url('./imgs/background.png');
    background-position: center top;
    height: fit-content;
    padding: 1em;
}

.activeMenu {
}

.menuRow {
    display: flex;
    margin-top: 1em;
}

.dishList {
    display: flex;
    flex-wrap: wrap;
}

.dishDiv {
    background: white; opacity: 0.9;
    min-width: 11em;
    max-width: 25em;
    padding: 1em;
}

.courseType {
    width: 4em;
    max-height: 4em;

    padding: 0.5em;
    color: white;
    margin: 0;
text-align: center;
}

.rowCode {
    width: 2em;
    max-height: 4em;
    color: white;
    padding: 0.5em;
    text-align: center;
}

[data-courseType="SOUP"] {
    background-color: #0005a8;
}

[data-courseType="MAIN"] {
    background-color: #0ca802;
}

[data-courseType="DESSERT"] {
    background-color: #d29500;
}

.mainPageMessage {
    color: white;
    text-shadow: black 0.5rem 0.5rem 1rem;
    font-size: 2.5em;
    margin: auto;
    max-width: fit-content;
    padding: 0.3em;
    background-color: rgb(1, 1, 1, 0.6);
    border-radius: 0.4em;
}

.mainPage {
    background-image: url('./imgs/background.png');
    height: 80vh;
    /*height: 80vh;*/
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    justify-content: center;
    display: flex;

}

.amountInput{
    max-width: 4em;
    margin: 0;
}
.dishName{
    margin: 0;
}
.dishDescription{
    margin: 0;
    height: 3em;
    max-width: 9em;
}
.dishPrice{
    margin-bottom: 0;
}

.weekTab{
    min-width: 10em;
    margin-right: 0.5em;
    background-color: darkslategray;
    color: white;
}
.sign-up {
    color: white;
}

.login-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 20rem;
    padding: 1.3rem;
    min-height: 10em;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 0.1rem solid black;
    border-radius: 2rem;
    margin-left: calc(50% - 10em);
}

.log-in-component {
    text-decoration-color: red;
}
.page-button {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 500;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    transition: all 0.3s ease;
    background: #242526;
    border: none;
    margin-top: 0;
}

.page-button:hover {
    background: #3A3B3C;
}