body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
    background-color: black;
}

.mainPageMessage {
    color: white;
    text-shadow: black 0.5rem 0.5rem 1rem;
    font-size: 2.5em;
    margin: auto;
    max-width: fit-content;
    padding: 0.3em;
    background-color: rgb(1, 1, 1, 0.6);
    border-radius: 0.4em;
}

.sign-up {
    color: white;
}

.mainPage {
    background-image: url('./imgs/background.png');
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    justify-content: center;
    display: flex;
}

.sideMenuBar {
    padding: 1em;
    width: 14vw;
    background: #242526;
    color: white;
}

.sideMenuBar p {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 500;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    transition: all 0.3s ease;
}

.sideMenuBar p:hover {
    background: #3A3B3C;
}

.weeklyMenu {
    padding-left: 1em;
}

.weeklyMenuPage {
    display: flex;
    background-image: url('./imgs/background.png');
    background-position: center top;
    height: fit-content;
    padding: 1em;
}

.activeMenu {
}

.menuRow {
    display: flex;
    margin-top: 1em;
}

.dishList {
    display: flex;
    flex-wrap: wrap;
}

.dishDiv {
    background: white;
    opacity: 0.9;
    min-width: 11em;
    max-width: 25em;
    padding: 1em;
    margin: 0.2em;
}

.courseType {
    width: 4em;
    max-height: 4em;

    padding: 0.5em;
    color: white;
    margin: 0;
    text-align: center;
}

.rowCode {
    width: 2em;
    max-height: 4em;
    color: white;
    padding: 0.5em;
    text-align: center;
}

[data-courseType="SOUP"] {
    background-color: #0005a8;
}

[data-courseType="MAIN"] {
    background-color: #0ca802;
}

[data-courseType="DESSERT"] {
    background-color: #d29500;
}

.amountInput {
    max-width: 4em;
    margin: 0;
}

.dishName {
    margin: 0;
}

.dishDescription {
    margin: 0;
    height: 3em;
    max-width: 9em;
    min-height: 6em;
}

.dishPrice {
    margin-bottom: 0;
}

.weekTab {
    min-width: 10em;
    margin-right: 0.5em;
    background-color: darkslategray;
    color: white;
}

.menuItems {
    display: flex;
}

.course-header {
    margin-left: 2.5em;
    padding: 0.5em;
    color: white;
    margin-bottom: 0;
}

.code {
    color: white;
    min-width: 2.7em;
    padding: 0.5em;
    text-align: center;
}

[data-code="S1"] {
    background-color: #0005a8;
}

[data-code="S2"] {
    background-color: #00036f;
}

[data-course="Soup"] {
    background-color: #0005a8;
}

[data-code="M1"] {
    background-color: #0ca802;
}

[data-code="M2"] {
    background-color: #087f00;
}

[data-course="Main"] {
    background-color: #0ca802;
}

[data-code="D1"] {
    background-color: #d29500;
}

[data-code="D2"] {
    background-color: #9b6e01;
}

[data-course="Dessert"] {
    background-color: #d29500;
}

.menuItemDiv {
    background-color: white;
    opacity: 0.9;
    padding: 1em;
    border: 0.02em solid #282c34;
    width: 13em;
}

/*.login-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 20rem;
    padding: 1.3rem;
    min-height: 10em;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 0.1rem solid black;
    border-radius: 2rem;
    margin-left: calc(50% - 10em);
}*/

.log-in-component {
    text-decoration-color: red;
}
.page-button {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 500;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    transition: all 0.3s ease;
    background: #242526;
    border: none;
    margin-top: 0;
}

.page-button:hover {
    background: #3A3B3C;
}

body.modal-open {
    padding-right: 0 !important;
}

