body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar{
  width: 100%;
  position: sticky;
  top: 0;
  background: #242526;
}

nav {
  max-width: 130em;
  padding: 0 3em;
  height: 5em;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar .nav-links{
  display: inline-flex;
}
.footer-nav-bar .nav-links{
  display: inline-flex;
}

.nav-links li{
  list-style: none;
}

.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.15em;
  font-weight: 500;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  transition: all 0.3s ease;
}

.nav-links li a:hover{
  background: #3A3B3C;
}

.content {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  background: black;
}

.footer {
  background-color: #242526;
  color: white;
  display: flex;
  justify-content: space-between;
}

.footer-nav-bar {
  max-width: 130em;
  /*padding: 0 3em;*/
  /*margin: auto;*/
  display: flex;
  /*align-items: center;*/
  /*justify-content: space-between;*/
}
/*.footer .nav-bar nav {
  width: fit-content;
}*/
.contacts {
  display: flex;
  height: 4em;
  margin-right: 5em;
  padding-top: 1em;
  width: fit-content;
}
.mail-phone {
  padding-left: 1em;
}

.sideMenuBar{
  margin: 0;
  padding: 1em;
  width: 17vw;
  background: #242526;
  color: white;

}

.sideMenuBar p{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.15em;
  font-weight: 500;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  transition: all 0.3s ease;
}

.sideMenuBar p:hover{
  background: #3A3B3C;
}

.weeklyMenu{
  padding-left: 1em;
}

.weeklyMenuPage{
  display: flex;
}

.activeMenu {
}

.menuRow{
  display: flex;
  margin-top: 1em;
}
.dishList{
  display: flex;
  flex-wrap: wrap;
}

.dishDiv{
  background: white;
  min-width: 13em;
  max-width: 30em;
}
.courseType{
  width: 7em;
  max-height: 5em;
  background: red;
  padding: 0;
}
.rowCode{
  width: 2em;
  max-height: 5em;

  background: yellow;

}

.mainPageMessage{
 color: white;
  text-shadow: black 0.5rem 0.5rem 1rem;
  font-size: 2.5em;
  margin: auto;
  max-width: fit-content;
  padding: 0.3em;
  background-color: rgb(1,1,1,0.6);
  border-radius: 20px;
}

.mainPage {
  background-image: url('./imgs/mainpage.jpg');
  min-height: 500px;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center bottom 10px;
  text-align: center;
  justify-content: center;
  display: flex;

}
